<div class="container">
  <h1 class="mt-3">Category List</h1>
  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/categories/add']" class="btn btn-primary"
      >Add Category</a
    >
  </div>
  <div class="mt-3">
    <div *ngIf="categories.length > 0; else elseTemplate">
      <table class="table table-success table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Url Handle</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.urlHandle }}</td>
            <td>
              <a
                class="btn btn-primary"
                [routerLink]="['/admin/categories/', category.id]"
              >
                Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseTemplate>
      <p class="fs-1 text-center text-danger">No Categories to display !</p>
    </ng-template>
  </div>
</div>
