<div class="container">
  <h1 class="mt-5 mb-4">Category List</h1>

  <!-- Add Category Button -->
  <div class="text-end mb-3">
    <a [routerLink]="['/admin/categories/add']" class="btn btn-primary"
      >Add Category</a
    >
  </div>

  <!-- Category Table -->
  <div *ngIf="categories.length > 0; else noCategoriesTemplate">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Name</th>
            <th scope="col">URL Handle</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.urlHandle }}</td>
            <td>
              <a
                [routerLink]="['/admin/categories/', category.id]"
                class="btn btn-primary btn-sm"
                >Edit</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noCategoriesTemplate>
    <p class="fs-5 text-center text-danger mt-4">No categories to display!</p>
  </ng-template>
</div>
